h1 {
    font-style: italic;
    color: #707070 !important;
    text-align: center;
}

body {
    background-color: #282828 !important;
}

button {
    display: block;
    float: left;
    margin-left: 2% !important;
    margin-right: 2% !important;
}

#consumed-table {
    box-sizing: border-box;
    display: block;
    float: bottom;
    color: lightgrey;
    width: 50%;
}

#stats-table {
    box-sizing: border-box;
    display: block;
    float: right;
    color: lightgrey;
    width: 20%;
}